### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
syntax: glob

*.*~
*.pyc
*.swp
*.db
*.xls
*.csv
python/*
.DS_Store
*.egg/*
*.egg-info/*
*iml
.idea
*.egg
/env
*.orig
